/* Parte 0: Padronização */

/* 0.1: Importação Fontes */
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Work+Sans');

/* 0.2: Padronização página e elementos */
html,
body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    color: #333;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   
    font-family: 'Fjalla One', sans-serif;
    font-weight: inherit;
}
 p {
    text-align: left;
}

/* 0.3: Padronização Comportamento */
* {
    box-sizing: border-box;
}

img,
video {
    max-width: 100%;
}

/* 0.4: Criação do Container do site e elementos reusáveis */
.container {
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
    padding: 0 10px;
}

/* Parte 1: Header */

/* 1.1: Header Geral */
.site-header {
    padding: 10px 0;
    background-color:#6495ED;
    color: #fff;
}

/* 1.2: Elementos gerais */
.site-header a {
    color: inherit;
    text-decoration: none;
}

/* 1.3: Logomarca */
.header-logomarca h1 {
    color:whitesmoke;
}

.header-logomarca h1,
.header-logomarca p {
    margin: 0;
}

/* 1.4: Posicionamento (Flex) */
.header-flex {
    display: flex;

    /* Posicionamento horizontal: Se afastar */
    justify-content: space-between;

    /* Posicionamento Vertical: Centralizado */
    align-items: flex-end;
}

/* 1.5: Navegação */
.header-nav a {
    display: inline-block;
    color: #fff;
    padding: 20px 15px;
    border-radius: 4px;

}

/* 1.5.1: Efeito Hover */
.header-nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}



/* 2.3: Posicionamento */
.hero-section {
    /* 2.3.1: Flex */
    display: flex;
    /* Posicionamento vertical e horizontal: Centralizar */
    align-items: center;
    justify-content: center;

    /* 2.3.2: Texto geral */
    text-align: center;
    font-size: 24px;

    /* 2.3.3: Fonte responsiva */
    font-size: 1.5em;
}
/* 2.5: Botões */
.hero-section a {
    display: inline-block;
    border: 2px solid #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 30px;

    /* Evitar que elementos se toquem */
    margin: 10px;

    /* Herança */
    color: inherit;
}

/* 2.5.1: Hover botão */
.hero-section a:hover {
    background: #fff;
    color: #01264c;
}


/* Parte 3: Seção de introdução */

/* 3.1: Definição da Seção geral */
.info-section {
    padding: 80px 0;
    font-size: 1.2em;
}

/* 3.2: Posicionamento */
.info-flex {
    display: flex;
    /* Alinhamento Vertical: Centro */
    align-items: center;
    /* Alinhamento Horizontal: Auto */
}

/* 3.3: Vídeo */
.info-flex>video {

    /* 3.3.1: Mudança da ordem */
    order: -1;

    /* 3.3.2: Espaçamento */
    margin-right: 15px;
}

/* Parte 4: Seção de cards */

/* 4.1: Definição geral */
.cards-section {
    padding: 40px 0;
    background: #319bcb;
    color: #fff;
}

/* 4.2: Estilizaçã Header */
.cards-section header {
    font-size: 1.2em;
}

/* 4.4: Estilo Card */
.card {
    background: #fff;
    color: #333;
    padding: 15px;
    text-align: center;
}


/* Parte 5: Sessão de Marcas */

/* 5.1: Sessão Geral */
.brands-section {
    padding: 40px 0;
}

/* 5.2: Grid de Cards */
.brands-grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}



/* 6: Rodapé */

/* 6.1: Estilo Geral */
.site-footer {
    background-color: #6495ED;
    color: #fff;
    padding: 20px 0;
}


/* 6.3: Posicionamento */
.footer-flex {
    display: flex;

    /* Centralização Vertical */
    align-items: center;

    /* Espaçamento Horizontal */
    justify-content: space-between;
}

/* 6.4: Navegação Social */
.social-nav a {
    /* 6.4.1: Estilo geral */
    background-color: #333;
    text-decoration: none;

    /* 6.4.2: Forma */
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;

    /* 6.4.3: Background */
    background-image: url('./assets/icon-link.png');
    background-size: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

/* 6.5: Estilização baseado em atributo */

.social-nav a[href*="twitter"] {
    background-color: #219beb;
    background-image: url('./assets/icon-twitter.png')
}




    /* 9.5: Correções gerais */

    /* 9.5.1: Correção altura hero novo tamanho header */
    .hero-section {
        height: calc(100vh - 71px);
    }

    /* 9.5.2: Correção video info: Quebrar grid */
    .info-flex {
        flex-wrap: wrap;
    }

    /* 9.5.3: Posicionamento vídeo */
    .info-flex>video {
        width: 100%;
        order: 0;
        margin-right: 0;
        margin-top: 10px;
    }

    /* 9.5.4: Correção cards Marcas */
    .brands-grid {
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .brand-card {
        padding: 20px;
    }





/* Parte 10: Melhorias CSS */

/* 10.1: Header fixo */
.site-header {
    position: sticky;
    top: 0;
    z-index: 1;
}


/* 10.3: Animação janela  */
.modal>.modal-content {
    /* Animação da janela subindo */
    transform: translateY(30%);
}

.modal:target>.modal-content {
    transform: translateY(0%);

}

/* 10.4: Animação Título Hero */

/* 10.4.1: Definição de frames para animação de pulse */
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}




